body {
    font-family: sans-serif;
    text-align: center;
    padding: 20px; /* Add some padding for better mobile spacing */
}

#fat-percentage-container {
    display: none;
}

/* Media query for smaller screens (e.g., mobile phones) */
@media (max-width: 600px) {
    input[type="number"], select {
        width: 100%; /* Make input fields and dropdowns full width */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    label {
        display: block; /* Place labels above input fields */
        margin-bottom: 5px;
    }

    button {
        width: 100%; /* Make the button full width */
    }
}
