body {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 50px; /* Adjusted width for number inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#fat-percentage-container {
    display: none;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

/* Media query for smaller screens (e.g., mobile phones) */
@media (max-width: 600px) {
    input[type="number"], select {
        width: 100%; /* Make input fields and dropdowns full width on small screens */
        box-sizing: border-box;
    }

    label {
        display: block; /* Place labels above input fields */
        margin-bottom: 5px;
    }

    button {
        width: 100%; /* Make the button full width */
    }
}
